<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Permissions needed by the library -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application>
        <!-- Services -->
        <service
            android:name=".services.ChargerDetectionService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".services.BatteryMonitorService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".services.WifiMonitorService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".services.ClapDetectionService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".services.MotionDetectionService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".services.ProximityDetectionService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".services.HandsfreeDetectionService"
            android:enabled="true"
            android:exported="false" />
    </application>
    
</manifest>
